.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "maindiv1 maindiv2";
    grid-template-rows: 1fr;
}


@media only screen and (max-width : 1024px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "maindiv1"
            "maindiv2";
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width : 1170px) {
    .main-div2 {
        border-bottom-right-radius: 50px;
    }
}

.main-div1 {
    grid-area: maindiv1;
    padding: 10px;
}

.main-div2 {
    grid-area: maindiv2;
    background-color: var(--background);
    padding: 10px;
}